body {
    background: #C0CCE2 url("../image/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: 'Gloria Hallelujah', cursive;
}

.container > .text-center {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 60px
}

.btn {
    width: 200px;
    height: 50px;
    transition: 0.15s;
    font-size: 28px;
    box-shadow: 1px 2px 2px #b6b6b6;
    font-family: 'Gloria Hallelujah', cursive;
}

.btn:hover {
    border-radius: 20px;
    border: 1px solid black;
}

.btn:active {
    transform: scale(0.80);
    -webkit-transform: scale(0.80);
    -ms-transform: scale(0.80);  
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}

button .badge {
    background: #F1F6FF;
    color: black;
}

button i.fa {
    font-size: 30px;
}

#js-playerName, #js-computerName {
    font-weight: bold;
}

#js-playerPoints, #js-computerPoints {
    font-size: 30px;
    background: #F1F6FF;
    color: black;
}

#js-resultsTableElement {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
    margin-top: 50px;
    background: rgba(163, 234, 227, 0.5);
    border-radius: 40px;
}

#js-generalResult {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    body {
        background-size: 200%;
        background-position: 50% 0;
    }

    .container > .text-center {
		font-size: 25px;
	}

	.text-center {
		font-size: 20px;
	}

    #js-playerPick_rock {
    	margin: 10px;
    }

    #js-playerPick_paper {
    	margin: 10px;
    }

    #js-playerPick_scissors {
    	margin: 10px;
    } 
}

@media screen and (max-width: 400px) {
	body {
        background-size: 250%;
        background-position: 50% 0;
    }

	h3 {
	    background: rgba(163, 234, 227, 0.5);
	    border-radius: 40px;
	}

	.container > .text-center {
		font-size: 20px;
	}

	.text-center {
		font-size: 16px;
	}
  
    #js-playerPick_rock {
    	margin: 10px;
    }

    #js-playerPick_paper {
    	margin: 10px;
    }

    #js-playerPick_scissors {
    	margin: 10px;
    }
}